.main {
  width: 95%;
  margin: auto;
}

.containerStyle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content {
  width: 30%;
}

.booksContent {
  width: 70%;
  margin-left: 30px;
}