.appBar{
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  align-items:center;
  min-height:5vh;
  margin-top:10px;
  margin-bottom:10px;
}

.saveButton{
  padding: 10px 30px;
  background: transparent;
  color: #f0f0f0;
  border-radius: 30px;
  border: 1px solid #f0f0f0;
  margin-right: 20px;
  cursor:pointer;
  transition: all 0.3s ease-in-out;
}

.saveButton:hover{
  background:#f0f0f0;
  color:#0f0f0f;
}

.titleStyles{
  text-align:center;
  text-transform:uppercase;
  padding-left:100px;
}
